/* medium screen 641-1024px */
@media screen and (min-width: 641px) and ( max-width: 1024px) {
    
    main {
        padding: 1rem;
    }
    
    .ordercontent {
        grid-template-columns: 50% 30%;
    }
     
   .soc-med {
    display: flex;
    gap: 5px;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    }

    footer {
    display: grid;
        grid-template-columns: 40% 40% 20%;
        gap: 1em;
        align-items: end;
        justify-content: right;
        width: 100%;
    }
    
}
