/* medium screen 641-1024px */
@media screen and (min-width: 641px) and ( max-width: 1024px) {
    
    main {
        padding: 1rem;
    }
    
    .ordercontent {
        grid-template-columns: 50% 30%;
    }
     

    .spotlightCon {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
    background-color: var(--color2);
    margin: 0.5rem 1rem 0.5rem 1rem;
    }

    div.gadget-card {
    display: grid;
    grid-template-columns: 50% 50%;
    min-height: 300px;
    gap: 0.8em;
    margin: 2rem;
    padding: 2rem;
    }   

    .tier > div:first-of-type {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    }

    footer {
    display: grid;
        grid-template-columns: 40% 40% 20%;
        gap: 1em;
        align-items: end;
        justify-content: right;
        width: 100%;
    }
    
   .soc-med {
    display: flex;
    gap: 5px;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    }

    
    
}
