/*****************************

    General Styles

******************************/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "Roboto", sans-serif;
}

:root{
    --primary: #104056;
    --color1: #89FFC7;
    --color2: #f8f8f8;
    --color3: #ffD05C;
    --color4: #125a72;
}

img{
    width: 100%;
}

body {
    min-width: 375px;
}

/*****************************

    NAV and HEADER

******************************/

.header_imgCon img {
    width: 40%;
    height: 40%;
}
/*hamburger menu*/
.nav-button {
    display: flex;
    flex-direction: column;
    width: 30px;
    height: 30px;
    justify-content: space-around;
    position: absolute;
    top: 3em;
    right: 3em;
    cursor: pointer;
}

.ham {
    width: 100%;
    height: 4px;
    background-color: #89FFC7;
    border-radius: 2px;
}

#nav-button:hover .ham {
    filter: brightness(0.5);
}

.nav-button.close .ham:nth-child(2) {
    opacity: 0;
}
  
.nav-button.close .ham:nth-child(1) {
    transform: translateY(10px) rotate(45deg);
}
  
.nav-button.close .ham:nth-child(3) {
    transform: translateY(-10px) rotate(-45deg);
}

nav{
    background-color: var(--primary);
    
}

nav .navi li{
    padding: 0.8em 3.5em;
    margin: 3px;
}

nav .navi li a:hover{
    color: #89FFC7;
}

nav .navi li a{
    text-decoration: none;
    color: var(--color2);
    font-weight: 350;
    font-size: smaller;
}

.navi {
    display: none;
    padding: 5px;
    background-color:var(--color4);
    list-style: none;
    color: var(--primary);
} 

.navi li:hover {
    background-color: var(--primary);
    /* border-radius: 20px; */
    filter: brightness(0.8);
}

.active{
    background-color: var(--primary);
    /* border-bottom: 1px solid var(--color1); */
    /* border-radius: 30px; */
    filter: brightness(0.8);
}

/* max width 1170px */
.navi.show {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 5.7em;
    right: 0;
    left: 0;
    background-color: var(--primary);
    width: 100%;
    z-index: 100;
} 




header {
    background-color: var(--primary);
    display: flex;
    position: relative;
    padding: 20px 20px;
}

.chamber-nameCon {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-weight: 400;
    font-size: smaller;
}

.header_imgCon{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1em;
    color: var(--color2);
    gap: 1em;
}

.header_imgCon img {
    width: 3.5em;
    height: 3.5em;
}

.name{
    font-size: 1.5em;
    color: var(--color1);
}

/*****************************

    MAIN GENERAL STYLES 

******************************/

main{
    color: var(--primary);
    padding: 0 1em 1em 1em;
}

/* directory page */
/* grid and list button */
.buttonContainer {
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 1em;
    margin: 2em;
}

.button_member {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    /* border: 5px solid var(--primary); */
    /* background-color: var(--color2); */
    /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
}

p.level {
    font-size: 0.75em;
    font-weight: 100;
}

.button_member img {
    width: 2em;
}

.button_member:hover{
    background-color: var(--primary);
}

/* directory page */
/* business card container */
.businesses, .memberCardCon {
    display: grid;
    text-align: center;
    padding: 0;
    gap: 0.8rem;
    margin: 20px;
    grid-template-columns: repeat(auto-fit, minmax(340px, 1fr));
    /* grid-template-rows: repeat(400px, auto); */
    justify-content: center;
}

.logo-container{
    align-items: flex-end;
    justify-content: center;
    padding: 1em;
}

.contact-info {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
}

.list{
    grid-template-columns: 1fr;
}

/* directory page */
/*businessCards*/
.list .b-cards {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}
.list .b-cards .contact-info {
    flex-direction: row;
}

.member-url {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

img .pic {
    width: 40px;
    height: 40px;
    background-color: #104556;
}

section.b-cards {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: stretch;
    align-items: stretch;
    flex-wrap: nowrap;
    font-size: small;
    padding: 2em;
    min-height: 500px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    /* text-align: center; */
    /* justify-self: */
    /* grid-template-columns: 1fr; */
}

section.b-cards img {
    padding: inherit;
}



section.b-cards h2{
    font-size: 1.5em;
}


section.b-cards p{
    text-align: center;
    padding: 5px;
}


/* Home Page */
/* Hero Section*/
.heroCon {
    position: relative;
    display: flex;
}

.heroCon img {
    width: 100%;
    height: auto;
    object-fit: cover;
    overflow: hidden;
    /* max-width: 1200px; */
    /* border-radius: 10px; */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), 0 6px 20px rgba(0, 0, 0, 0.19);
    /* filter: brightness(0.8); */
}
/*****************************

    HOME PAGE STYLES

******************************/

/* Hero */
.heroCon {
    display: grid;
    justify-content: center;
    align-items: center;
    margin: -1.2em;
}

.heroCon img {
    width: 100%;
    height: auto;
    object-fit: cover;
    overflow: hidden;
    /* max-width: 1200px; */
    /* border-radius: 10px; */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), 0 6px 20px rgba(0, 0, 0, 0.19);
    /* filter: brightness(0.8); */
}

.cta-Btn {
    text-align: center;
    margin: 2em 0;
    position: absolute;
    bottom: 10%;
    right: 5%;
    background-attachment: fixed;
    transform: translate(-50%, -50%);
        
}
.cta-Btn a {
    display: inline-block;
    padding: 1em 3em;
    background-color: var(--color4);
    color: white;
    border: 1px solid var(--color2);
    font-weight: 600;
    text-decoration: none;
    border-radius: 30px;
    /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), 0 6px 20px rgba(0, 0, 0, 0.19); */
}
.cta-Btn a:hover {
    background-color: var(--color1);
    color: var(--color4);
}

/* Home Page */
/* Intro Section */

.welcome h1 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.intro {
    text-align: center;
    padding-top: 2.5em;
    /* border: 1px solid var(--primary); */
}

.contentCon {
    display: grid;
    /* grid-template-columns: repeat(auto-fit, minmax(320px, 1fr)); */
    grid-template: repeat(auto-fit, minmax(300px, 1fr));
    grid-template-rows: auto;
    justify-content: center;
    align-items: center;
    gap: 1em;
    /* padding: 2em; */
    /* background-color: var(--color2);
    box-shadow: 0 4px 8px rgba(0, 0, 0.2), 0 6px 20px rgba(0, 0, 0, 0.19); */
}

/* Home Page */
/* Current Events Section */
.current-eventsCon {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 3em;
    height: 100%;
    background-color: var(--color2);
    /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), 0 6px 20px rgba(0, 0, 0, 0.19); */
}


/* Home Page */
/* Weather Section */
.weatherCon {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    justify-content: space-between;
    padding: 3em;
    height: 100%;
    background-color: var(--color2);
    /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), 0 6px 20px rgba(0, 0, 0, 0.19); */
}

.weather-card {
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    justify-content: center;
    padding: 3em;
    width: 100%;
    height: 100%;
    background-color: var(--color2);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), 0 6px 20px rgba(0, 0, 0, 0.19);
}

.heroCon .hero-image img {
    display: flex;
    width: 100%;
    height: auto;
    width: 100%;
    object-fit: cover;
    overflow: hidden;
    /* border-radius: 10px; */
    /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), 0 6px 20px rgba(0, 0, 0, 0.19); */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.welcome {
    display: flex;
    padding: 20px;
    /* padding-bottom: 20px; */
    justify-content: center;

}

.cta-button {
    display: inline-block;
    background-color: var(--primary-color);
    color: var(--text-color2);
    font-size: 18px;
    padding: 15px 30px;
    text-decoration: none;
    border-radius: 30px;
    transition: background-color 0.3s ease;
}
.cta-button:hover { 
    background-color: var(--primary-color-hover);
}

.weather {
    background-color: var(--color2);
    padding: 2em;
}

.weather h2 {
    background-color: #fff;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 20px;
}

.weather img {
    display: none;
    justify-self: right;
}


#weather-temp {
    font-weight: bold;
    font-size: 2em;
    padding: 2em;
}


#weather-icon {
    width: 20em;
    height: auto;
    object-fit: cover;
    background-color: var(--primary);
    border-radius: 10px;
}

.weather-location {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#weather-description {
    font-size: 1.2rem;
    color: var(--primary);
    text-align: center;
    margin-top: 10px;
}

#forecasted-weather {
    display: flex;
    /* flex-direction: column; */
    margin-top: 20px;
    gap: 1em;
    justify-items: center;
    color: var(--color2);
    /* grid-template-columns: repeat(auto-fill, minmax(30%, 1fr)); */
    /* border: 1px solid #162a79; */
}

#forecasted-weather > div {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    background-color: var(--primary);
    width: 100%;
    padding: 15px;
    border-radius: 10px;
}

.forecasted-temp {
    display: flex;
    font-weight: bold;
    font-size: 1.2rem;
    padding: 5px 30px;
    flex-wrap: nowrap;
    color: var(--color2);
}


.forecasted-day {
    color: var(--color1);
    font-size: 0.9rem;
}


/* Home Page */
/* Spotlight Section */
.spotlightCon {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2em;
    background-color: var(--color2);
    /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), 0 6px 20px rgba(0, 0, 0, 0.19); */
}

.business-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: stretch;
    align-items: stretch;
    flex-wrap: nowrap;
    font-size: small;
    padding: 2em;
    min-height: 500px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.events {
     display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-content: stretch;
    align-items: stretch;
    flex-wrap: nowrap;
    width: 100%;
    height: 100%;
    /* font-size: sma; */
    padding: 2em;
    min-height: 500px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
section.business-card h3{
    font-size: 1.2em;
}

.business-card img {
    padding: 50px;
}

.business-card p {
    text-align: center;
    padding: 5px;
}

.mem-details li {
    display: flex;
    list-style: none;
    justify-content: center;
}
/*****************************

    JOIN PAGE STYLES

******************************/




/*****************************

    DISCOVERY PAGE STYLES

******************************/

.discover h1 {
    font-size: 2.5em;
    margin: 30px;
    margin-bottom: 1em;

}

div#allplaces {
    display: grid;
    grid-template-columns: 1fr;
    min-height: 500px;
    gap: 0.8em;
}

.place{
    margin: 1rem 8px;
    padding: 2em;
    background-color: white;
    overflow: hidden;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    display: grid;
    justify-content: center;
    grid-template-areas: 
    "title"
    "img"
    "desc"
    "address"
    "button"
}

.place h2 {
    display: flex;
    justify-content: center;
    margin: 1rem 30px;
    grid-area: title;
}
 .place figure{
    width: 100%;
    grid-area: img;
    padding: 30px;
 }

 .place img {
    width: 100%;
    height: auto;
    border-top-left-radius: 40px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 40px;
    border-bottom-left-radius: 10px;
    max-height: fit-content;
    object-fit: cover;
 }

 .placeDesc{
    margin: 2em 1em;
    grid-area: desc;
 }

 .place address {
    margin: 2em 1em;
    grid-area: address;
 }

 .place .button{
    margin: 0 60px 1em;
    font-size: 0.9em;
    grid-area: button;
    height: 2.2em;
    border-radius: 20px;
    background-color: var(--color4);
    color: var(--color2);
    font-weight: bold;
}

.place .button:hover{
    background-color: var(--color1);
    color: var(--color4);
}

.about-section {
    padding: 0 30px;
}


/*****************************

    FOOTER STYLES

******************************/

footer {
    padding: 1em;
    background-color: var(--primary);
    color: var(--color2);
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1em;
    flex-direction: column;
    margin-top: 2em;
    font-weight: 350;
    font-size: smaller;
}

.chamber-info {
    text-align: center;
    /* width: 50%; */
}

.chamber-info a {
    color: var(--color1);
    text-decoration: none;
}

.chamber-info a:hover {
    filter: brightness(0.5);

}
 .student-info {
    text-align: center;
    align-items: center;
    /* width: 50%; */
}

.soc-med {
    /* display: flex; */
    gap: 1em;
    align-items: center;
    justify-content: center;
    /* width: 50%; */
}

.soc-med a:hover img {
    filter: brightness(0.5);
}

.soc-med a img{
    width: 3em;
}

.info {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.5em;
    /* gap: 0.5em; */
}

.activeButton {
    background-color: var(--color4);
}

