@media only screen and (min-width:1170px){
    
    header{
        background-color: var(--primary);
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 1em 15%;
    }

    nav{
        background: none;
    } 

    .nav-button {
        display: none;
    }

    #nav-button:hover .ham {
        color: var(--primary);
        filter: brightness(0.5);
    }

    .navi {
        display: flex;
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex;
        justify-content: space-between;
        gap: 0;
        border: 2px solid var(--color4);
        border-radius: 40px;
    }

    .navi li:hover {
        background-color: var(--primary); 
        border-radius: 30px;
        /* border: 1px solid var(--color1); */
        filter:opacity(0.5);
    } 
    
    .active{
        background-color: var(--primary);
        /* border-bottom: 3px solid var(--color2); */
        border-radius: 30px;
        /* border: 1px solid var(--color1); */
        filter: brightness(0.8);
    }

    .navi li {
        padding: 0 3em;
        /* margin: 3px; */
    }
    .navi li a{
        /* text-decoration: none; */
        padding: 0;
        font-size: small;
    }

    .name {
        font-size: 1.5em;
    }

    h1 {
        grid-column: span 2;
    }

    main {
        padding: 0 15%;
    }

    .contentCon {
        grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
        grid-template-rows: auto;
        gap: 0.8em;
        display: grid;
        grid-template: 1fr 1fr/ 1fr 1fr;
        grid-template-areas: "
            'current-eventsCon weatherCon'
            'spotlightCon spotlightCon';
    }

    .spotlightCon {
        grid-column: span 2;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 2em;
        background-color: var(--color2);
        /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), 0 6px 20px rgba(0, 0, 0, 0.19); */
    }

    .weather-card {
        display: flex;
        flex-direction: row;
    }

    .forcasted-weather {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        /* align-items: center; */
    }
    
    .list .b-cards{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }

    .contact-info {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }

    .member-url {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

/*****************************

    FOOTER STYLES

******************************/
    footer{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        justify-items: center;
        align-items: center;
        justify-content: center;
        padding: 1em 15%;
    }

    .soc-med{
        display: flex;
        /* width: 90%; */
    }

    .chamber-info {
        text-align: start;
        /* width: 90%;  */
    }

    .info {
        align-items: flex-start;
        padding: 0.5em;
        /* gap: 0.5em; */
    }

     .student-info {
        display: flex;
        align-items: flex-start;
        /* width: 90%; */
    }

   
}