/*****************************

    GENERAL STYLES

******************************/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 10px;
    font-family: "Roboto", sans-serif;
}

:root{
    --primary: #2E128C;
    --color1: #8acc8a;
    --color2: #f0f8ff;
    --color3: #48d1cc;
    --color4: #d3d3d3;
    --color5: #ffffff;
}

img{
    width: 100%;
}

body {
    /* min-width: 320px; */
    /* max-width: 1200px; */
}

/*****************************

HEADER AND NAVIGATION STYLES

******************************/

h1,
h2, 
h3 {
    font-weight: normal;
    /* line-height: 1.5; */
}





/*****************************

    MAIN STYLES 

******************************/




/* Interactive  */
/* small screen 320-640px */
@media screen and (min-width: 320px) {
    
}

/* medium screen 641-1024px */
@media screen and (min-width: 641px) {
   
}

/* large screen 1025px and up */
@media screen and (min-width: 1025px) {
    
}

/*****************************

    FOOTER STYLES

******************************/






